<%= form_for(@guardian) do |f| %>
  <% if @guardian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

      <ul>
      <% @guardian.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, placeholder: "Type in First Name" %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name, placeholder: "Type in Middle Name (Optional)" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, placeholder: "Type in Last Name" %>
  </div>
  <div class="field">
    <%= f.label :relationship %><br>
    <%= f.text_field :relationship, placeholder: "e.g. Mother" %>
  </div>
  <div class="field">
    <%= f.label :authorized_pickup %>:</br>
    <%= f.label :authorized_pickup, "Yes", :value=> "Yes" %>
    <%= f.radio_button :authorized_pickup, "Yes"%>
    <%= f.label :authorized_pickup, "No", :value=> "No" %>
    <%= f.radio_button :authorized_pickup, "No"%>
  </div>
  <div class="field">
    <%= f.label :sex %>:</br>
    <%= f.label :sex, "Male", :value=> "Male" %>
    <%= f.radio_button :sex, "Male"%>
    <%= f.label :sex, "Female", :value=> "Female" %>
    <%= f.radio_button :sex, "Female"%>
  </div>
  <div class="field">
    <%= f.label :driver_license_number %><br>
    <%= f.text_field :driver_license_number, placeholder: "Type in Driver License#" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, placeholder: "Type in Email" %>
  </div>
  <div class="field">
    <%= f.label :primary_phone %><br>
    <%= f.text_field :primary_phone, placeholder: "e.g. 713-369-3024" %>
  </div>
  <div class="field">
    <%= f.label :secondary_phone %><br>
    <%= f.text_field :secondary_phone, placeholder: "e.g. 713-369-3024 (Optional)" %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br>
    <%= f.text_field :address1, placeholder: "Type in Street Address 1" %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2, placeholder: "Type in Street Address 2 (Optional)" %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, placeholder: "Type in City" %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, placeholder: "Type in State" %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code, placeholder: "Type in Zip Code" %>
  </div>
  <div class="actions">
    <%= f.submit "Add", class: 'btn btn-success btn-small' %>
  </div>
<% end %>
