<h1>Guardian Records</h1>
<%= form_tag(guardians_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Guardians" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guardians.each do |guardian| %>
      <tr>
        <td><%= link_to guardian.full_name, guardian %></td>
        <td><%= guardian.email %></td>
        <td><%= guardian.primary_phone %></td>
       <!-- <td><%= link_to 'Show', guardian, class:'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_guardian_path(guardian), class:'btn btn-xs btn-default' %></td>
        --><td><%= link_to 'Destroy', guardian, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
    </tbody>
</table>
<% if not params[:search] %>
    <%= will_paginate @students %>
<% end %>
  <center> <table>
    <tr>
    <td>
     <%= link_to 'New Guardian', new_guardian_path, class:'btn btn-s btn-default'  %>
      <%= link_to 'Back To Home', homepage_index_path, class:'btn btn-s btn-default' %>
    </td>
  </tr>
  </table></center>

<br>

