

<h1>Guardian Record</h1>

<center>
  <div class="box">
    <h4 class="select">Guardian Information</h4>
    <table class="table">
      <thead>
      <th>Full Name</th>
      <th>Sex</th>
      <th>Relationship</th>
      </thead>
      <tbody>
      <tr>
        <td><%= @guardian.full_name %></td>
        <td><%= @guardian.sex %></td>
        <td><%= @guardian.relationship %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="box">
    <h4 class="select">Student Information</h4>
    <table class="table">
      <thead>
      <th>Student Name</th>
      </thead>
      <tbody>
      <tr>
        <td><% @guardian.student_guardians.each do |ec| %>
              <%= link_to ec.student.full_name, student_path(ec.student_id) %>
              <% if params[:allow_delete] %>
                  <%= link_to 'Remove', student_guardian_path(ec), :method => :delete, class:'btn btn-xs btn-danger' %>
              <% end %><br/>
          <% end %><br/><%= link_to 'Add', "/student_guardians/new?guardian_id=#{@guardian.id}", class:'btn btn-xs btn-default' %></td>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="box">
    <h4 class="select">Guardian Authorization</h4>
    <table class="table">
      <thead>
      <th>Authorized Pickup</th>
      <th>Driver's Licence</th>
      <th>Primary Phone</th>
      <th>Secondary Phone</th>
      </thead>
      <tbody>
      <tr>
        <td><%= @guardian.authorized_pickup %>
        <td><%= @guardian.driver_license_number %>
        </td>
        <td><%= @guardian.primary_phone %></td>
        <td><%= @guardian.secondary_phone %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="box">
    <h4 class="select">Guardian Address</h4>
    <table class="table">
      <thead>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      </thead>
      <tbody>
      <tr>
        <td><%= @guardian.address1 %></td>
        <td><%= @guardian.address2 %></td>
        <td><%= @guardian.city %></td>
        <td><%= @guardian.state %></td>
        <td><%= @guardian.zip_code %></td>
      </tr>
      </tbody>
    </table>
  </div>


  <table class="table">
    <tr>
      <td>
        <%= link_to 'Edit', edit_guardian_path(@guardian), class:'btn btn-xs btn-default' %>
        <% if params[:allow_delete] %>
            <%= link_to 'Hide Remove Attributes', '?', class:'btn btn-xs btn-default' %>
        <% else %>
            <%= link_to 'Show Remove Attributes', '?allow_delete=1', class:'btn btn-xs btn-danger' %>
        <% end %>        <%= link_to 'Back', guardians_path, class:'btn btn-xs btn-default' %>
      </td>
    </tr>
  </table></center>
<br>