<center><h1>Leaps and Bounds Tutorial Center Login</h1>

  <%= image_tag "welcome.png" %>
  <br>
  <%= image_tag "homeimg.jpg" %>
  <br><br>
  <p>Please choose one of the following options:</p>

  <div id="container">
    <div id="user_nav">
      <P><%= link_to 'Roster Form', new_sign_in_out_path, class:'btn btn-s btn-success'  %>
        <%= link_to "Admin Login", new_user_session_path, class:'btn btn-s btn-primary'%></P>
      <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.<br/>
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <%= yield %>
  </div>
</center>
