<%= form_for(@student, class: 'form-horizontal', :html => {:multipart => true}) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, placeholder: "Type in First Name"%>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name, placeholder: "Type in Middle Name (Optional)" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, placeholder: "Type in Last Name" %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date, start_year: 1920 %>
  </div>
  <div class="field">
    <%= f.label :sex %>:</br>
    <%= f.label :sex, "Male", :value=> "Male" %>
    <%= f.radio_button :sex, "Male"%>
    <%= f.label :sex, "Female", :value=> "Female" %>
    <%= f.radio_button :sex, "Female"%>
  </div>
  <div class="field">
    <%= f.label :tutoring_hours %><br>
    <%= f.text_field :tutoring_hours, placeholder: "Type the amount of Tutoring Hours" %>
  </div>
  <div class="field">
    <%= f.label :primary_phone %><br>
    <%= f.text_field :primary_phone, placeholder: "e.g. 713-369-3024" %>
  </div>
  <div class="field">
    <%= f.label :secondary_phone %><br>
    <%= f.text_field :secondary_phone, placeholder: "e.g. 713-369-3024 (Optional)" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, placeholder: "Type in Email" %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br>
    <%= f.text_field :address1, placeholder: "Type in Street Address 1" %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2, placeholder: "Type in Street Address 2 (Optional)" %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, placeholder: "Type in City" %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, placeholder: "Type in State" %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code, placeholder: "Type in Zip Code" %>
  </div>
  <div class="field">
    <%= f.label :school_name %><br>
    <%= f.text_field :school_name, placeholder: "Type in name of school where student attends" %>
  </div>
    <hr/>
  <div class="field">
    <%= f.label :contract %>
    <%= f.file_field :contract %>
  </div>
<hr/>
  <div class="actions">
    <%= f.submit "Add", class: 'btn btn-success btn-small' %>
  </div>
<% end %>
