<h1>Student Records</h1>
<%= form_tag(students_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Students" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>School</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, student %></td>
        <td><%= student.email %></td>
        <td><%= student.primary_phone %></td>
        <td><%= student.school_name %></td>
        <!--<td><%= link_to 'Show', student, class:'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class:'btn btn-xs btn-default'  %></td>-->
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
<% if not params[:search] %>
    <%= will_paginate @students %>
<% end %>
<br>
 <table>
  <tr>
    <td>
      <%= link_to 'New Student', new_student_path, class:'btn btn-s btn-default'  %>
      <%= link_to 'Back To Home', homepage_index_path, class:'btn btn-s btn-default' %>
    </td>
  </tr>
</table></center>
<br>