
<h1>Student Record</h1>


  <div class="box">
    <h4 class="select">Student Information</h4>
    <table class="table">
    <thead>
    <th>Full Name:</th>
    <th>Sex:</th>
    <th>Birth date:</th>
    <th>Email:</th>
    <th></th>
    </thead>
    <tbody>
    <tr>
      <td><%= @student.full_name %></td>
      <td><%= @student.sex %></td>
      <td><%= @student.birth_date %></td>
      <td><%= @student.email %></td>
    </tr>
    </tbody>
  </table>
</div>

  <div class="box">
    <h4 class="select">Medical Information</h4>
    <table class="table">
      <thead>
      <th>Allergy and Medication:</th>
      </thead>
      <tbody>
      <tr>
        <td><% @student.medical_issues.each do |mi| %>
            <%= link_to mi.description, medical_issue_path(mi.id) %>
              <% if params[:allow_delete] %>
                <%= link_to 'Remove', medical_issue_path(mi), :method => :delete, class:'btn btn-xs btn-danger' %>
              <% end %>
          <br><% end %>
          <br/><%= link_to 'Add', "/medical_issues/new?student_id=#{@student.id}", class:'btn btn-xs btn-default' %></td>
      </tr>
      </tbody>
    </table>
  </div>

<div class="box">
  <h4 class="select">Guardian Profile</h4>
  <table class="table">
    <thead>
    <th>Guardian(s):</th>
    </thead>
    <tbody>
    <tr>
      <td><% @student.student_guardians.each do |ec| %>
            <%= link_to Guardian.find(ec.guardian_id).full_name, guardian_path(ec.guardian_id) %>
            <% if params[:allow_delete] %>
                <%= link_to 'Remove', student_guardian_path(ec), :method => :delete, class:'btn btn-xs btn-danger' %>
            <% end %>
            <br><% end %>
        <br/><%= link_to 'Add', "/student_guardians/new?student_id=#{@student.id}", class:'btn btn-xs btn-default' %></td>
    </tr>
    </tbody>
  </table>
</div>

  <div class="box">
    <h4 class="select">Contact Information</h4>
    <table class="table">
      <thead>
      <th>Primary Phone:</th>
      <th>Address 1:</th>
      <th>Address 2:</th>
      <th>City:</th>
      <th>State:</th>
      <th>Zip Code:</th>
      <th>Emergency Contact(s):</th>
      </thead>
      <tbody>
      <tr>
        <td><%= @student.primary_phone %></td>
        <td><%= @student.address1 %></td>
        <td><%= @student.address2 %></td>
        <td><%= @student.city %></td>
        <td><%= @student.state %></td>
        <td><%= @student.zip_code %></td>
        <td><% @student.emergency_contacts.each do |sg| %>
              <%= link_to sg.full_name, emergency_contact_path(sg.id) %><br/>
              <% if params[:allow_delete] %>
                  <%= link_to 'Remove', emergency_contact_path(sg), :method => :delete, class:'btn btn-xs btn-danger' %>
              <% end %>
          <% end %><br/><%= link_to 'Add', "/emergency_contacts/new?student_id=#{@student.id}", class:'btn btn-xs btn-default' %></td>
      </tr>
      </tbody>
    </table>
  </div>

<div class="box">
  <h4 class="select">Tutoring Information</h4>
  <table class="table">
    <thead>
    <th>School Name:</th>
    <th>Tutoring Hours:</th>
    <th>Teacher(s):</th>
    <th>Subject(s):</th>
    </thead>
    <tbody>
    <tr>
      <td><%= @student.school_name %></td>
      <td><%= @student.tutoring_hours %></td>
      <td><% @student.student_teachers.each do |st| %>
          <%= link_to st.teacher.full_name, teacher_path(st.teacher_id) %>
          <% if params[:allow_delete] %>
                <%= link_to 'Remove', student_teacher_path(st), :method => :delete, class:'btn btn-xs btn-danger' %>
          <% end %>
            <br><% end %>
      <br/><%= link_to 'Add', "/student_teachers/new?student_id=#{@student.id}", class:'btn btn-xs btn-default' %>
    </td>
      <td><% @student.student_subject_grade_levels.each do |sgl| %>
            <%= link_to sgl.subject_grade_level.name, subject_grade_level_path(sgl.id) %>
            <% if params[:allow_delete] %>
                <%= link_to 'Remove', student_subject_grade_level_path(sgl), :method => :delete, class:'btn btn-xs btn-danger' %>
            <% end %>
            <br><% end %>
        <br/><%= link_to 'Add', "/student_subject_grade_levels/new?student_id=#{@student.id}", class:'btn btn-xs btn-default' %>

    </tr>
    </tbody>
  </table>
</div>

<div class="box">
  <h4 class="select">Student Contract</h4>
  <table class="table">
    <tr>
        <td><br/><a href="<%= @student.contract %>" class="btn btn-primary btn-large">Download</a></a><br/></td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<br>

<center><table class="table">
  <tr>
    <td>
        <%= link_to 'Edit', edit_student_path(@student), class:'btn btn-xs btn-default' %>
      <% if params[:allow_delete] %>
          <%= link_to 'Hide Remove Attributes', '?', class:'btn btn-xs btn-default' %>
      <% else %>
          <%= link_to 'Show Remove Attributes', '?allow_delete=1', class:'btn btn-xs btn-danger' %>
      <% end %>
        <%= link_to 'Back', students_path, class:'btn btn-xs btn-default' %>
    </td>
</tr>
</table></center>
<br>
