/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */



/* render html5 elements as block */

header, footer, section, aside, nav{
    display: block;
}

body {
    line-height: 1;
    background-color: #80AF45;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2A590C), to(#80AF45));
    background: -moz-linear-gradient(top, #2A590C 0%, #80AF45 100%);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 18px;
}

/* layout */


nav {
    width: 934px;
    height: 50px;
    margin: 0 auto;
    background: #2A590C;
    margin-top: -5px;
}

body.home #navigation-top {
    display: none !important;
}
.main {
    width: 940px;
    margin: 0 auto;
    padding-top: 30px;
    background: #FFF repeat-y;
    overflow: hidden;
}

.content {
    float: left;
    width: 450px;
    margin-left: 40px;
}

.sidebar1 {
    float: left;
    padding-left: 25px;
    width: 180px;
}

.sidebar2 {
    float: right;
    padding-right: 30px;
    width: 180px;
}

footer {
    width: 934px;
    margin: 0 auto;
    clear: both;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

a:link, a:visited {
    color:#2A590C;
}

a:hover, a:active {
    color: #333;
}


p {
    margin-bottom: 18px;
}

li {
    padding-left: 5px;
}

/* nav */

nav .menu {
    font-size: 16px;
    font-weight: bold;
}

nav .menu ul {
    margin: 0;
    padding: 15px 0 0 20px;
    list-style: none;
    line-height: normal;
}

nav .menu li {
    display: inline-block;
    float: left;
}

nav .menu a {
    display: none;
    float: left;
    margin-right: 5px;
    padding: 0px 15px;
    text-decoration: none;
    color: #FFF;
}

/** HEADER */

header {
    padding: 30px 0 0 0;
}

header>h1 {
    float: left;
    margin: 0 0 18px 30px;
    width: 600px;
    font-size: 70px;
}

header>h1 a {
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    text-decoration: none;
}

header>h2 {
    color: #777;
    clear: right;
    float: right;
    font-style: italic;
    font-size: 14px;
    margin: 14px 10px 18px 0;
}

/* sidebar and footer widget blocks */

aside h3 {
    font-size: 18px;
    text-shadow: 0px 2px 3px #ddd;
}

aside ul {
    list-style: square;
    color: #bbb;
    margin: -15px 0 15px 25px;
}

#footer-area {
    background: #2A590C;
    color: #FFF;
    font-size: 90%;
    padding: 18px 0;
    overflow: hidden;
    /* curved border radius */
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.footer-segment {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 190px;
}

footer aside h4 {
    color: #faf0e6;
    font-size: 16px;
    line-height: 1.5em;
}

footer ul {
    list-style: none;
    margin: -15px 0;
}

footer a:link, footer a:visited {
    color: #ccc;
}

footer p {
    margin-top: -15px;
    color: #faf0e6;
}
body {
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

ul, td {
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
/* Created by http://freehtml5templates.com */

/* reset */

/* render html5 elements as block */

/* layout */

#wrapper {
    width: 940px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #888;
    background: #FFF;
    /* curved border radius */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#content{
    padding:10px;
}

h1,h2,h3,h5,h6 {
    clear: both;
    color: #3399FF;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

h4{
    clear: both;
    color: #333;
}
a:link, a:visited {
    color:#2A590C;
}

a:hover, a:active {
    color: #333;
    text-decoration: none;
}

p {
    margin-bottom: 18px;
}

li {
    padding-left: 5px;
}

/* Navigation */

nav .menu {
    font-size: 16px;
    font-weight: bold;
    margin-left: auto ;
    margin-right: auto ;
}

nav .menu ul {
    margin: 0;
    padding: 15px 0 0 10px;
    list-style: none;
    line-height: normal;
}

nav .menu li {
    display: inline-block;
    float: left;
}

nav .menu li.highlight {
    background: #666;
}

nav .menu li.highlight {
    color:#f5f5f5;
}

nav .menu a {
    display: block;
    float: left;
    margin-right: 5px;
    padding: 0px 15px;
    text-decoration: none;
    color: #FFF;
}

nav .menu a:hover {
    text-decoration: underline;
}

/* sidebar and footer widget blocks */

aside h3 {
    font-size: 18px;
    text-shadow: 0px 2px 3px #ddd;
}

aside ul {
    list-style: square;
    color: #bbb;
    margin: -15px 0 15px 25px;
}

#footer-area {
    background: #2A590C;
    color: #FFF;
    font-size: 90%;
    padding: 18px 0;
    overflow: hidden;
    /* curved border radius */
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.footer-segment {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 190px;
}

footer aside h4 {
    color: #faf0e6;
    font-size: 16px;
    line-height: 1.5em;
}

footer ul {
    list-style: none;
    margin: -15px 0;
}

footer a:link, footer a:visited {
    color: #ccc;
}

footer a:hover {
    text-decoration: none;
}

footer p {
    margin-top: -15px;
    color: #faf0e6;
}

/* Changes to get information into div boxes*/
.box {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-column-word-spacing:20px;
    display: inline-table;
    background: #a9db6c left bottom repeat;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    height: auto;
    width: auto;
    margin: 10px;
    padding: 5px;
}

table, th, tr{
    text-align: center;
}

/* For the H4 special text title in boxes*/
.select {
    margin: 0 auto;
    height: 29px;
    width: 185px;
    text-align: center;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
