
<br>
<center>
<%= form_for(@student_teacher, class: 'form-horizontal') do |f| %>
    <div>
    <div class="controls">
      <% if params[:student_id] %>
          <%= f.hidden_field(:student_id, :value => params[:student_id]) %>
      <% else %>
          <h3>Select a Student</h3>
          <%= f.collection_select(:student_id, Student.all, :id, :full_name) %>
      <% end %>
    </div>

      <div class="controls">
        <% if params[:teacher_id] %>
            <%= f.hidden_field(:teacher_id, :value => params[:teacher_id]) %>
        <% else %>
            <h3>Select a Teacher</h3>
            <%= f.collection_select(:teacher_id, Teacher.all, :id, :full_name) %>
        <% end %>
      </div>

    <br>
    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-success btn-small', :value => "Add" %>
    </div>
<% end %>

  </div>
</center>