<h1>Student & Teachers</h1>

<table table table-striped>
  <thead>
    <tr>
      <th>Student</th>
      <th>Teacher</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @student_teachers.each do |student_teacher| %>
      <tr>
        <td><%= student_teacher.student.full_name %></td>
        <td><%= student_teacher.teacher.full_name %></td>
        <td><%= link_to 'Show', student_teacher, class:'btn btn-xs btn-default'%></td>
        <td><%= link_to 'Edit', edit_student_teacher_path(student_teacher), class:'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Destroy', student_teacher, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Student to Teacher', new_student_teacher_path, class:'btn btn-xs btn-default' %>
<%= link_to 'Back to Student Records', students_path, class:'btn btn-xs btn-default' %>
