<p id="notice"><%= notice %></p>


<center>
  <div class="box">

<p>
  <strong>Student:</strong>
  <%= @student_teacher.student.full_name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @student_teacher.teacher.full_name %>
</p>

    </div>
<%= link_to 'Edit', edit_student_teacher_path(@student_teacher), class:'btn btn-xs btn-default' %> |
<%= link_to 'Back', student_teachers_path, class:'btn btn-xs btn-default' %>

</center>