<%= form_for(@medical_issue) do |f| %>
  <% if @medical_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_issue.errors.count, "error") %> prohibited this medical_issue from being saved:</h2>

      <ul>
      <% @medical_issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue_type %><br>
    <%= f.select(:issue_type, ['Allergy','Medication','Medical Hx']) %>

  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, :size=>'50'%>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :size=>'50x10' %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <% if params[:student_id] %>
        <%= f.collection_select(:student_id, Student.all, :id, :full_name, :selected => params[:student_id]) %>
    <% else %>
        <%= f.collection_select(:student_id, Student.all, :id, :full_name) %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Add", class: 'btn btn-success btn-small' %>
  </div>
<% end %>
