<h1>Medical Records</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Issue</th>
      <th>Type</th>
      <th>Student</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_issues.each do |medical_issue| %>
      <tr>
        <td><%= link_to medical_issue.description, medical_issue %></td>
        <td><%= medical_issue.issue_type %></td>
        <td><%= Student.find(medical_issue.student_id).full_name %></td>
        <!--<td><%= link_to 'Show', medical_issue, class:'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_medical_issue_path(medical_issue), class:'btn btn-xs btn-default' %></td>
        --><td><%= link_to 'Destroy', medical_issue, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @medical_issues %>
<br>

<center> <table>
  <tr>
    <td>
<%= link_to 'New Medical Issue', new_medical_issue_path, class:'btn btn-s btn-default' %>
<%= link_to 'Back To Home', homepage_index_path, class:'btn btn-s btn-default' %>
    </td>
  </tr>
</table></center>

<br>
