<h1>Medical Record</h1>


<center>
<div class="box">
  <h4 class="select">Student Information</h4>
  <table class="table">
    <thead>
    <th>Issue Type:</th>
    <th>Description:</th>
    <th>Notes:</th>
    <th>Student:</th>
    </thead>
    <tbody>
    <tr>
      <td><%= @medical_issue.issue_type %></td>
      <td><%= @medical_issue.description %></td>
      <td><%= @medical_issue.notes %></td>
      <td><%= link_to Student.find(@medical_issue.student_id).full_name, student_path(@medical_issue.student_id)%></td>
    </tr>
    </tbody>
    </table>
 </div>

<table class="table">
  <tr>
    <td>
<%= link_to 'Edit', edit_medical_issue_path(@medical_issue), class:'btn btn-xs btn-default' %>
<%= link_to 'Back', medical_issues_path, class:'btn btn-xs btn-default' %>
    </td>
  </tr>
</table></center>
<br>