<h1>Student Subject Grade Levels</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Student</th>
    <th>Subject Grade Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @student_subject_grade_levels.each do |student_subject_grade_level| %>
      <tr>
        <td><%= student_subject_grade_level.student.full_name %></td>
        <td><%= student_subject_grade_level.subject_grade_level.name %></td>
        <td><%= link_to 'Show', student_subject_grade_level %></td>
        <td><%= link_to 'Edit', edit_student_subject_grade_level_path(student_subject_grade_level) %></td>
        <td><%= link_to 'Destroy', student_subject_grade_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Subject-Grade Level to Student', new_student_subject_grade_level_path, class:'btn btn-xs btn-default' %>
<%= link_to 'Back to Student Records', students_path, class:'btn btn-xs btn-default' %>
