<%= form_for(@emergency_contact) do |f| %>
  <% if @emergency_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emergency_contact.errors.count, "error") %> prohibited this emergency_contact from being saved:</h2>

      <ul>
      <% @emergency_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :relationship %><br>
    <%= f.text_field :relationship %>
  </div>
  <div class="field">
    <%= f.label :primary_phone %><br>
    <%= f.text_field :primary_phone %>
  </div>
  <div class="field">
    <%= f.label :secondary_phone %><br>
    <%= f.text_field :secondary_phone %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <% if params[:student_id] %>
        <%= f.collection_select(:student_id, Student.all, :id, :full_name, :selected => params[:student_id]) %>
    <% else %>
        <%= f.collection_select(:student_id, Student.all, :id, :full_name) %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Add", class: 'btn btn-success btn-small' %>
  </div>
<% end %>
