<h1>Emergency Contacts</h1>

<%= form_tag(emergency_contacts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Emergency Contacts" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Relationship</th>
      <th>Phone</th>
      <th>Student</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emergency_contacts.each do |emergency_contact| %>
      <tr>
        <td><%= link_to emergency_contact.full_name, emergency_contact %></td>
        <td><%= emergency_contact.relationship %></td>
        <td><%= emergency_contact.primary_phone %></td>
        <td><%= Student.find(emergency_contact.student_id).full_name %></td>
        <!--<td><%= link_to 'Show', emergency_contact, class:'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_emergency_contact_path(emergency_contact), class:'btn btn-xs btn-default' %></td>-->
        <td><%= link_to 'Destroy', emergency_contact, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if not params[:search] %>
    <%= will_paginate @emergency_contacts %>
<% end %>

<br>

<center> <table>
  <tr>
    <td>
<%= link_to 'New Contact', new_emergency_contact_path, class:'btn btn-s btn-default' %>
<%= link_to 'Back To Home', homepage_index_path, class:'btn btn-s btn-default' %>
</td>
</tr>
</table></center>

<br>