

<h1>Emergency Contact</h1>

<center>
<div class="box">
  <h4 class="select">Student Information</h4>
  <table class="table">
    <thead>
    <th>Full Name:</th>
    <th>Relationship:</th>
    <th>Primary Phone</th>
    <th>Secondary Phone</th>
    <th>Student</th>
    </thead>
    <tbody>
    <tr>
      <td><%= @emergency_contact.full_name %></td>
      <td><%= @emergency_contact.relationship %></td>
      <td><%= @emergency_contact.primary_phone %></td>
      <td><%= @emergency_contact.secondary_phone %></td>
      <td><%= link_to Student.find(@emergency_contact.student_id).full_name, student_path(@emergency_contact.student_id)%></td>
    </tr>
    </tbody>
    </table>
</div>

<table class="table">
  <tr>
    <td>
<%= link_to 'Edit', edit_emergency_contact_path(@emergency_contact), class:'btn btn-xs btn-default' %> |
<%= link_to 'Back', emergency_contacts_path, class:'btn btn-xs btn-default' %>
  </tr>
</table></center>
<br>