<%= form_for(@student_guardian) do |f| %>
  <% if @student_guardian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_guardian.errors.count, "error") %> prohibited this student_guardian from being saved:</h2>

      <ul>
      <% @student_guardian.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center>
    <div class="controls">
      <% if params[:student_id] %>
          <%= f.hidden_field(:student_id, :value => params[:student_id]) %>
      <% else %>
          <h3>Select a Student</h3>
          <%= f.collection_select(:student_id, Student.all, :id, :full_name) %>
      <% end %>
    </div>

    <div class="controls">
      <% if params[:guardian_id] %>
          <%= f.hidden_field(:guardian_id, :value => params[:guardian_id]) %>
      <% else %>
          <h3>Select a Guardian</h3>
          <%= f.collection_select(:guardian_id, Guardian.all, :id, :full_name) %>
      <% end %>
    </div>


  <div class="actions">
    <br/><%= f.submit "Add", class: 'btn btn-success btn-small' %><br/><br/>Or<br/><br/>
    <% if params[:guardian_id] %>
        <%= link_to 'Create new Student Record', "/students/new", class: 'btn btn-default'%>
    <% else %>
        <%= link_to 'Create new Guardian Record', "/guardians/new", class: 'btn btn-default'%>
  <% end %>
  </div>
</center>
<% end %>
