<h1>Student Guardians</h1>

<table>
  <thead>
    <tr>
      <th>Guardian</th>
      <th>Student</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @student_guardians.each do |student_guardian| %>
      <tr>
        <td><%= student_guardian.guardian_id %></td>
        <td><%= student_guardian.student_id %></td>
        <td><%= link_to 'Show', student_guardian %></td>
        <td><%= link_to 'Edit', edit_student_guardian_path(student_guardian) %></td>
        <td><%= link_to 'Destroy', student_guardian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student guardian', new_student_guardian_path %>
