<p id="notice"><%= notice %></p>

<p>
  <strong>Guardian:</strong>
  <%= @student_guardian.guardian_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student_guardian.student_id %>
</p>

<%= link_to 'Edit', edit_student_guardian_path(@student_guardian) %> |
<%= link_to 'Back', student_guardians_path %>
