<center>

<%= form_for(@teacher_subject_grade_level, class: 'form-horizontal') do |f| %>
    <div>
      <!--<%= f.label :teacher_id %>
    <div class="controls">
      <!--<%= f.text_field nil, :value => Teacher.find(params[:teacher_id]).full_name, :class => 'text_field', :disabled => true %>-->
      <%= f.hidden_field(:teacher_id, :value => params[:teacher_id]) %>
      <!--<%= f.collection_select(:teacher_id, Teacher.all, :id, :full_name, :selected => params[:teacher_id], :disable => true) %> -->

    </div>

    <div>
      <div>
        <!--<%= f.text_field :subject_grade_level_id, :class => 'text_field' %>-->
        <%= f.collection_select(:subject_grade_level_id, SubjectGradeLevel.all, :id, :name) %>
      </div>
    </div>
    <br>
    <div class="form-actions">
      <%= f.submit nil, class:'btn btn-xs btn-default', :value => "Assign Subject-Grade Level" %>
    </div>
<% end %>

</center>