<h1>Teacher Subject Grade Levels</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Subject Grade Level</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_subject_grade_levels.each do |teacher_subject_grade_level| %>
      <tr>
        <td><%= teacher_subject_grade_level.teacher.full_name %></td>
        <td><%= teacher_subject_grade_level.subject_grade_level.name %></td>
        <td><%= link_to 'Show', teacher_subject_grade_level %></td>
        <td><%= link_to 'Edit', edit_teacher_subject_grade_level_path(teacher_subject_grade_level) %></td>
        <td><%= link_to 'Destroy', teacher_subject_grade_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center>
<%= link_to 'Add Subject-Grade Level to Teacher', new_teacher_subject_grade_level_path, class:'btn btn-xs btn-default' %>
<%= link_to 'Back to Teacher Records', teachers_path, class:'btn btn-xs btn-default' %></center>
