<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, placeholder: "Type in First Name" %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name, placeholder: "Type in Middle Name (Optional)" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, placeholder: "Type in Last Name" %>
  </div>
  <div class="field">
    <%= f.label :sex %>:</br>
    <%= f.label :sex, "Male", :value=> "Male" %>
    <%= f.radio_button :sex, "Male"%>
    <%= f.label :sex, "Female", :value=> "Female" %>
    <%= f.radio_button :sex, "Female"%>
  </div>
  <div class="actions">
    <%= f.submit "Add", class: 'btn btn-success btn-small' %>
  </div>
<% end %>
