<h1>Teachers</h1>

<%= form_tag(teachers_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Teachers" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.full_name, teacher %></td>
        <td><%= teacher.sex %></td>
        <!--<td><%= link_to 'Show', teacher, class:'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher), class:'btn btn-xs btn-default'  %></td>-->
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if not params[:search] %>
    <%= will_paginate @teachers %>
<% end %>
<br>
<center> <table>
  <tr>
    <td>
      <%= link_to 'New Teacher', new_teacher_path, class:'btn btn-s btn-default'  %>
      <%= link_to 'Back To Home', homepage_index_path, class:'btn btn-s btn-default' %>
    </td>
  </tr>
</table></center>
<br>
