
<div class="box">
  <h4 class="select">Teacher Information</h4>
  <table class="table">
    <thead>
    <th>Name:</th>
    <th>Sex:</th>
    </thead>
    <tbody>
    <tr>
      <td><%= @teacher.full_name %></td>
      <td><%= @teacher.sex %></td>
    </tr>
    </tbody>
  </table>
</div>





<div class="box" style="vertical-align: top">
  <table class="table" style="vertical-align: top">
    <thead>
    <th>Students:</th>
    </thead>
    <tbody>
    <tr>
      <td><% @teacher.student_teachers.each do |st| %>
            <%= link_to st.student.full_name, student_path(st.student_id) %>
            <% if params[:allow_delete] %>
                <%= link_to 'Remove', student_teacher_path(st), :method => :delete, class:'btn btn-xs btn-danger' %>
            <% end %>
            <br><% end %><br>
        <%= link_to 'Add', "/student_teachers/new?teacher_id=#{@teacher.id}", class:'btn btn-xs btn-default' %>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="box" style="vertical-align: top">
  <table class="table" style="vertical-align: top">
    <thead>
    <th>Subject(s):</th>
    </thead>
    <tbody>
    <tr>
      <td><% @teacher.teacher_subject_grade_levels.each do |tgl| %>
            <%= link_to tgl.subject_grade_level.name, subject_grade_levels_path(tgl.id) %>

        <% if params[:allow_delete] %>
            <%= link_to 'Remove', teacher_subject_grade_level_path(tgl), :method => :delete, class:'btn btn-xs btn-danger' %>
        <% end %>
       <br><% end %><br>
        <%= link_to 'Add', "/teacher_subject_grade_levels/new?teacher_id=#{@teacher.id}", class:'btn btn-xs btn-default' %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<center><table class="table">
  <tr>
    <td><center>
      <%= link_to 'Edit', edit_teacher_path(@teacher), class:'btn btn-xs btn-default' %>
      <% if params[:allow_delete] %>
          <%= link_to 'Hide Remove Attributes', '?', class:'btn btn-xs btn-default' %>
      <% else %>
          <%= link_to 'Show Remove Attributes', '?allow_delete=1', class:'btn btn-xs btn-danger' %>
      <% end %>
      <%= link_to 'Back', teachers_path, class:'btn btn-xs btn-default' %></center>
    </td>
  </tr>
</table></center>
<br>