<h2>Login</h2>

<center>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="field"><%= f.label :email %><br />
      <%= f.text_field :email %></div>

    <div class="field"><%= f.label :password %><br />
      <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
        <div class="field"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div class="field"><%= f.submit "Login" %></div>
<% end %>

<%= render "devise/shared/links" %>

</center>