/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



/* render html5 elements as block */
header, footer, section, aside, nav{
    display: block;
}

body {
    line-height: 1;
    background-color: #80AF45;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2A590C), to(#80AF45));
    background: -moz-linear-gradient(top, #2A590C 0%, #80AF45 100%);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 18px;
}

/* layout */


nav {
    width: 934px;
    height: 50px;
    margin: 0 auto;
    background: #2A590C;
    margin-top: -5px;
}

body.home #navigation-top {
    display: none !important;
}
.main {
    width: 940px;
    margin: 0 auto;
    padding-top: 30px;
    background: #FFF repeat-y;
    overflow: hidden;
}

.content {
    float: left;
    width: 450px;
    margin-left: 40px;
}

.sidebar1 {
    float: left;
    padding-left: 25px;
    width: 180px;
}

.sidebar2 {
    float: right;
    padding-right: 30px;
    width: 180px;
}

footer {
    width: 934px;
    margin: 0 auto;
    clear: both;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

a:link, a:visited {
    color:#2A590C;
}

a:hover, a:active {
    color: #333;
}


p {
    margin-bottom: 18px;
}

li {
    padding-left: 5px;
}

/* nav */

nav .menu {
    font-size: 16px;
    font-weight: bold;
}

nav .menu ul {
    margin: 0;
    padding: 15px 0 0 20px;
    list-style: none;
    line-height: normal;
}

nav .menu li {
    display: inline-block;
    float: left;
}

nav .menu a {
    display: none;
    float: left;
    margin-right: 5px;
    padding: 0px 15px;
    text-decoration: none;
    color: #FFF;
}

/** HEADER */

header {
    padding: 30px 0 0 0;
}

header>h1 {
    float: left;
    margin: 0 0 18px 30px;
    width: 600px;
    font-size: 70px;
}

header>h1 a {
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    text-decoration: none;
}

header>h2 {
    color: #777;
    clear: right;
    float: right;
    font-style: italic;
    font-size: 14px;
    margin: 14px 10px 18px 0;
}

/* sidebar and footer widget blocks */

aside h3 {
    font-size: 18px;
    text-shadow: 0px 2px 3px #ddd;
}

aside ul {
    list-style: square;
    color: #bbb;
    margin: -15px 0 15px 25px;
}

#footer-area {
    background: #2A590C;
    color: #FFF;
    font-size: 90%;
    padding: 18px 0;
    overflow: hidden;
    /* curved border radius */
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.footer-segment {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 190px;
}

footer aside h4 {
    color: #faf0e6;
    font-size: 16px;
    line-height: 1.5em;
}

footer ul {
    list-style: none;
    margin: -15px 0;
}

footer a:link, footer a:visited {
    color: #ccc;
}

footer p {
    margin-top: -15px;
    color: #faf0e6;
}
