/* Created by http://freehtml5templates.com */

/* reset */

/* render html5 elements as block */

/* layout */

#wrapper {
    width: 940px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #888;
    background: #FFF;
    /* curved border radius */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#content{
    padding:10px;
}

h1,h2,h3,h5,h6 {
    clear: both;
    color: #3399FF;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

h4{
    clear: both;
    color: #333;
}
a:link, a:visited {
    color:#2A590C;
}

a:hover, a:active {
    color: #333;
    text-decoration: none;
}

p {
    margin-bottom: 18px;
}

li {
    padding-left: 5px;
}

/* Navigation */

nav .menu {
    font-size: 16px;
    font-weight: bold;
    margin-left: auto ;
    margin-right: auto ;
}

nav .menu ul {
    margin: 0;
    padding: 15px 0 0 10px;
    list-style: none;
    line-height: normal;
}

nav .menu li {
    display: inline-block;
    float: left;
}

nav .menu li.highlight {
    background: #666;
}

nav .menu li.highlight {
    color:#f5f5f5;
}

nav .menu a {
    display: block;
    float: left;
    margin-right: 5px;
    padding: 0px 15px;
    text-decoration: none;
    color: #FFF;
}

nav .menu a:hover {
    text-decoration: underline;
}

/* sidebar and footer widget blocks */

aside h3 {
    font-size: 18px;
    text-shadow: 0px 2px 3px #ddd;
}

aside ul {
    list-style: square;
    color: #bbb;
    margin: -15px 0 15px 25px;
}

#footer-area {
    background: #2A590C;
    color: #FFF;
    font-size: 90%;
    padding: 18px 0;
    overflow: hidden;
    /* curved border radius */
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.footer-segment {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 190px;
}

footer aside h4 {
    color: #faf0e6;
    font-size: 16px;
    line-height: 1.5em;
}

footer ul {
    list-style: none;
    margin: -15px 0;
}

footer a:link, footer a:visited {
    color: #ccc;
}

footer a:hover {
    text-decoration: none;
}

footer p {
    margin-top: -15px;
    color: #faf0e6;
}

/* Changes to get information into div boxes*/
.box {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-column-word-spacing:20px;
    display: inline-table;
    background: #a9db6c left bottom repeat;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    height: auto;
    width: auto;
    margin: 10px;
    padding: 5px;
}

table, th, tr{
    text-align: center;
}

/* For the H4 special text title in boxes*/
.select {
    margin: 0 auto;
    height: 29px;
    width: 185px;
    text-align: center;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}