<center>
<%= form_for(@subject_grade_level) do |f| %>
  <% if @subject_grade_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject_grade_level.errors.count, "error") %> prohibited this subject_grade_level from being saved:</h2>

      <ul>
      <% @subject_grade_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Type in the Subject & Grade Level" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, placeholder: "Type in a Description" %>
  </div>
  <div class="actions">
    <%= f.submit "Add", class: 'btn btn-success btn-small' %>
  </div>
<% end %>
</center>
