<h1>Subjects</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subject_grade_levels.each do |subject_grade_level| %>
      <tr>
        <td><%= link_to subject_grade_level.name, subject_grade_level %></td>
        <td><%= subject_grade_level.description %></td>
        <td><%= link_to 'Destroy', subject_grade_level, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-default'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>

<%= will_paginate @subject_grade_levels %>
  <br>
<%= link_to 'New Subject', new_subject_grade_level_path, class:'btn btn-xs btn-default'  %></center>
