<p id="notice"><%= notice %></p>

<div class="box">
  <h4 class="select">Subject</h4>
  <table class="table">
    <thead>
    <th>Name:</th>
    <th>Description:</th>
    </thead>
    <tbody>
    <tr>
      <td><%= @subject_grade_level.name %></td>
      <td><%= @subject_grade_level.description %></td>
      </tr>
    </tbody>
    </table>
  </div>

<div class="box" style="vertical-align: top">
  <table class="table" style="vertical-align: top">
    <thead>
    <th>Students:</th>
    </thead>
    <tbody>
    <tr>
      <td><% @subject_grade_level.student_subject_grade_levels.each do |ssgl| %>
            <%= link_to ssgl.student.full_name, student_path(ssgl.student_id) %>
            <br><% end %><br>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="box" style="vertical-align: top">
  <table class="table" style="vertical-align: top">
    <thead>
    <th>Teachers:</th>
    </thead>
    <tbody>
    <tr>
      <td><% @subject_grade_level.teacher_subject_grade_levels.each do |tsgl| %>
            <%= link_to tsgl.teacher.full_name, teacher_path(tsgl.teacher_id) %>
            <br><% end %><br>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<center>
<%= link_to 'Edit', edit_subject_grade_level_path(@subject_grade_level) %> |
<%= link_to 'Back', subject_grade_levels_path %>
</center>