<%= form_for(@sign_in_out) do |f| %>
  <% if @sign_in_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sign_in_out.errors.count, "error") %> prohibited this sign_in_out from being saved:</h2>

      <ul>
      <% @sign_in_out.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center><h3>
    <div class="field">
    <%= Date.today.to_formatted_s(:long) %><br>
    <div id="system_time"></div>
  </div></h3>
</center>

    <!--<div class="field">
      <%= f.label :sign_in %><br>
      <%= f.time_select :sign_in %>
    </div>
    <div class="field">
      <%= f.label :sign_out %><br>
      <%= f.time_select :sign_out %>
    </div>-->
    <%= f.hidden_field :status, :disabled=>true %>

<center>
  <div class="field">
    <hr/>
    <h4>Student ID</h4>
    <%= f.text_field :student_id, placeholder: "Type in Student ID", class: 'input-medium', :autofocus=>true, :value=>'' %>
  </div>
  <div class="actions">
      <%= f.submit 'Sign_In', name: 'Sign_In', class: 'btn btn-success btn-large' %>
      <%= f.submit 'Sign_Out', name: 'Sign_Out', class: 'btn btn-danger btn-large'%>
    </div>
  </div>
</center>

<% end %>
