<h1>Sign In/Out Log</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Sign in</th>
      <th>Sign out</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sign_in_outs.each do |sign_in_out| %>
      <% if sign_in_out.sign_out == nil %>
          <tr style='background-color:orangered;color:white'>
      <% else %>
          <tr>
      <% end %>
        <td><%= sign_in_out.created_at.strftime("%B %d, %Y") %></td>
        <td><%= sign_in_out.student_id %></td>
        <td><%= link_to Student.find(sign_in_out.student_id).full_name, student_path(sign_in_out.student_id) %></td>
        <td><%= sign_in_out.sign_in %></td>
        <td><%= sign_in_out.sign_out %></td>
        <td><%= sign_in_out.site_status %></td>
        <!--<td><%= link_to 'Show', sign_in_out %></td>
        <td><%= link_to 'Edit', edit_sign_in_out_path(sign_in_out) %></td>-->
        <td><%= link_to 'Destroy', sign_in_out, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-default'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
<%= link_to 'Roster Form', new_sign_in_out_path, class:'btn btn-s btn-success'  %>
</center>
<br/>