

<p>
  <strong>Date:</strong>
  <%= @sign_in_out.created_at.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Student:</strong>
  <%= @sign_in_out.student_id %>
</p>

<p>
  <strong>Sign in:</strong>
  <%= @sign_in_out.sign_in %>
</p>

<p>
  <strong>Sign out:</strong>
  <%= @sign_in_out.sign_out %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sign_in_out.site_status %>
</p>



<%= link_to 'Edit', edit_sign_in_out_path(@sign_in_out) %> |
<%= link_to 'Back', sign_in_outs_path %>
