<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Leaps and Bounds Tutorial Center</title>
  <%= stylesheet_link_tag    "application", media: "screen", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper"><!-- #wrapper -->



  <header><!-- header -->
    <h2><%= image_tag "KTLogo.png", :size => "100x50" %></h2>
    <%= image_tag("headerimg.jpg", :size => "934x200") %><!-- header image -->
  </header><!-- end of header -->
<% if user_signed_in? %>
  <nav><!-- top nav -->
    <div class="menu">
      <ul>
        <li><%= link_to 'Student Records', students_path %></li>
        <li><%= link_to 'Guardian Records', guardians_path %></li>
        <li><%= link_to 'Emergency Contacts', emergency_contacts_path %></li>
        <li><%= link_to 'Roster Logs', sign_in_outs_path %></li>
        <li><%= link_to 'Teachers', teachers_path %></li>
        <li><%= link_to 'Subjects', subject_grade_levels_path %></li>
      </ul>
    </div>
  </nav>
<% end %>
  <section id="content"><!-- #content -->
    <center>
        <h4 style="color:green"><%= flash[:notice]%></h4>
        <h4 style="color:red"><%= flash[:error]%></h4>
    </center>
    <%= yield %>

  </section><!-- end of #main content and sidebar-->


  <footer>
    <section id="footer-area">

      <section id="footer-outer-block">
        <aside class="footer-segment">
          &copy; Copyright 2010-2012 <a href="#" class="url" title="LeapsAndBounds">LeapsAndBounds</a>. All rights reserved.
        </aside><!-- end of #first footer segment -->

        <aside class="footer-segment">
          Important Links <li><a href="/">Home</a></li><li><a href="/sign_in_outs/new">Roster Form</a></li><li><a href="/users/login">Admin Login</a><li><%= link_to 'Logoff', destroy_user_session_path, method: :delete %></li>
        </aside><!-- end of #first footer segment -->
</section></section>
  </footer></div></body></html>
